<table class="table-borderless table-condensed">
  <tr class="h4">
    <th><strong>Name</strong></th>
    <th><strong>Ticker</strong></th>
    <th><strong>Price</strong></th>
  </tr>
  <tr>

  </tr>
</table>