<div id="welcome" class="container-fluid">
  <article>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <h1 class="text-center">Manage stocks in your portfolio and get real time info, simple and easy.</h1>
    </div>

    <div class="col-sm-8 col-sm-offset-2 text-center">
      <%= link_to("Login", new_user_session_path, class: "btn btn-lg log-btn") %>
      <%= link_to("Sign up", new_user_registration_path, class: "btn btn-lg sign-btn") %>
    </div>

    <div id="demo" class="col-sm-12 text-center">
      <%= image_tag "appdemo.png", alt: "app demo", title: "app demo"%>
    </div>
  </article>

  <div class="spacer"></div>

</div>