// Consolidate all css

// Variables
$site-clr: #51A116;
$dig-clr: #688AFC;
$nav-clr: #222;
$w-clr: #FFF;
$b-clr: #000;
$r-clr: #FF0000;
$form-font: 'Open Sans', sans-serif;
$background-clr: #131314;
$backgrd-login: $site-clr;
$backgrd-form: $w-clr;
$stock-bx-clr: #1F2123;
$stock-comp-clr: #00AEEF;
$mkt-price: $dig-clr;

// // Import each file top down
// @import "navigation",
//         "homepage",
//         "footer",
//         "login_signup",
//         "portfolio",
//         "stocks",
//         "stock_show";