footer {
  // footer background
  background-color: $b-clr;

  #foot-logo {
    margin-top: 32px;
    img {
      background-color: $b-clr;
    }
  }

  #foot-info {
    margin-top: 10px;
    padding-top: 10px;

    a {
      color: $w-clr;
      text-decoration: none;

      &:hover {
        color: $dig-clr;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: $b-clr;
      }
    }
  }

  #social {
    margin-bottom: 35px;

    li a img {
      width: 32px;
      height: auto;
      background-color: $b-clr;
    }
  }
}


