$site-clr: #51A116;
$w-clr: #FFF;
$b-clr: #000;
$r-clr: red;
$dig-clr: #688AFC;

footer {
  // footer background
  background: rgba(99,126,78,1);
  background: -moz-linear-gradient(-45deg, rgba(99,126,78,1) 0%, rgba(80,162,22,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(99,126,78,1)), color-stop(100%, rgba(80,162,22,1)));
  background: -webkit-linear-gradient(-45deg, rgba(99,126,78,1) 0%, rgba(80,162,22,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(99,126,78,1) 0%, rgba(80,162,22,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(99,126,78,1) 0%, rgba(80,162,22,1) 100%);
  background: linear-gradient(135deg, rgba(99,126,78,1) 0%, rgba(80,162,22,1) 100%);

  border-top: 1px solid $b-clr;

  #foot-logo {
    margin-top: 32px;
    img {
      background-color: $b-clr;
    }
  }

  #foot-info {
    margin-top: 10px;
    padding-top: 10px;

    a {
      color: $w-clr;
      text-decoration: none;

      &:hover {
        color: $dig-clr;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: $b-clr;
      }
    }
  }

  #social {
    margin-bottom: 35px;

    li a img {
      width: 32px;
      height: auto;
    }

    li a:hover img {
      background-color: $dig-clr;
    }
  }
}


