// Welcome page
div#welcome {
  min-height: 750px;
  background: image-url("chart.png") no-repeat center center;
  //-webkit-background-size: cover;
  background: rgba(41,106,212,1);
  background: -moz-linear-gradient(left, rgba(41,106,212,1) 0%, rgba(78,142,247,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,106,212,1)), color-stop(100%, rgba(78,142,247,1)));
  background: -webkit-linear-gradient(left, rgba(41,106,212,1) 0%, rgba(78,142,247,1) 100%);
  background: -o-linear-gradient(left, rgba(41,106,212,1) 0%, rgba(78,142,247,1) 100%);
  background: -ms-linear-gradient(left, rgba(41,106,212,1) 0%, rgba(78,142,247,1) 100%);
  background: linear-gradient(to right, rgba(41,106,212,1) 0%, rgba(78,142,247,1) 100%);
  article { margin: 75px auto 300px auto; }

  h1 {
    padding: 25px;
    font-family: $form-font;
    font-weight: 300;
    line-height: 1.5;
    color: $w-clr;
  }

  .log-btn {
    -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);
         box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);
    background-color: $w-clr;
    padding: 15px 32px;
    color: $b-clr;
    border-radius: 3px;
    border: 3px solid $w-clr;
  }

  .sign-btn {
    @extend .log-btn;
    margin-left: 15px;
    background: transparent;
    color: $w-clr;
    opacity: .6;

    &:hover { opacity: 1; }
  }

  #demo img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 55%;
    height: auto;
    border: 8px solid rgba(255,255,255,0.1);
  }
}


// MEDIA Qs
@media (max-width: 436px) {
  div#welcome {
    min-height: 610px;
    article { margin: 75px auto 50px auto; }

    h1 {
      font-size: 1.5em;
    }

    #demo img {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 320px) {
  .log-btn { padding: 15px 25px; }
}