// CSS for Login and Sign up page
@import 'variables';

// LOGIN PAGE & SIGN UP PAGE
body.login-sign { background-color: $site-clr; }

div#login, div#sign-up {
  background-color: $backgrd-login;
  font-family: $form-font;

  .log-sign-header {
    margin: 25px 0;

    h1 {
      color: $w-clr;
      font-weight: 300;
    }
  }

  div.sign-log-form {
    // shadow effect on login/signup box
   -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);
   -moz-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);
   box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);

    // border for on login/signup box
    -web-kit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    max-width: 380px;
    padding: 0 30px;
    background-color: $backgrd-form;

    .logo img {
      margin: 0 auto;
      display: block;
      padding: 4.5em 0;
    }

    .actions input {
      height: 42px;
      margin-bottom: 1em;
    }

    .forgot {
      color: $site-clr;
      text-decoration: none;
    }
  }
}

#xtra-link {
  margin-top: 30px;
  margin-bottom: 150px;

  font-weight: 400;

  span.fade {
    color: $w-clr;
    opacity: .6;
    margin-right: 3px;
  }

  a {
    color: $w-clr;
    text-decoration: none;
  }
}

// MEDIA Qs
@media (max-width: 436px) {
  div#login, div#sign-up {

    .log-sign-header {
      margin: 10px 0;

      h1 {
        display: none;
      }
    }

    div.sign-log-form {
      padding: 0 15px;
    }
  }
}