@import 'variables';

.navspacer { height: 50px; }
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// Navigation
nav {

  a#brand-logo {
    img {
      width: 75px;
      height: auto;
      padding: 0;
      padding-left: 15px;
      padding-top: 8px;
    }
  }
}

// for navigation icons
.nav-btn {
  font-size: 1.5em;
  padding: 10px;
  color: $site-clr !important;

  &:hover {
    border-bottom: 2px solid $dig-clr;
    color: $dig-clr !important;
  }

  span { font-size: 1.15em; }
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a {
  @extend .nav-btn
}

// for login and signup on homepage to fix height align with brand logo
.reset-fnt {
  font-size: 1em !important;
  padding-top: 15px !important;
}

// add stock form
#add-stock {

  padding: 15px;

  #stock_ticker {
    background-color: $nav-clr;
    border-color: $nav-clr;

    &:focus {
      background-color: $w-clr;
    }
  }

  input:last-child { width: 100% }
}

#spy-list {

  padding: 15px;

  #watchlist_ticker {
    background-color: $nav-clr;
    border-color: $nav-clr;

    &:focus {
      background-color: $w-clr;
    }
  }

  input:last-child { width: 100% }

}

#watchlist {
  tbody {

    tr th:last-child a#refresh-watch:hover {
      background-color: $w-clr;
      text-decoration: none;
    }

    tr:first-child { color: $dig-clr; }

    tr.hot  { color: $site-clr; }
    tr.cold { color: $grub-clr; }

    tr td:last-child a { display: none; }

    tr {
       &:hover td:last-child a {
        display: inline;
        text-decoration: none;

        &:hover {
          background-color: $w-clr;
          color: $grub-clr;
        }
      }
    }
  }
}

// right side menu of navbar
ul#navbar-r {

  ul.dropdown-menu {
    border: 1px solid $b-clr;
    background-color: $b-clr;
    font-size: 1.5em;

    li {
      margin-top: 7px;

      a {
        color: $site-clr;

        &:hover {
          background-color: $b-clr;
          color: $dig-clr;
        }
      }
    }
  }
}

// make dropdown menu auto expand on hover
.dropdown:hover .dropdown-menu {
  display: block;
}