@import 'variables';

#logout { font-size: 1.5em; }
.navspacer { height: 50px; }

// Navigation
nav {

  a#brand-logo {
    img {
      width: 55px;
      height: auto;
    }
  }
}

.navbar-inverse .navbar-nav>li>a {
  color: $site-clr !important;

  &:hover {
    color: $dig-clr !important;
  }
}