// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// VARIABLES
$background-clr: #131314;

// INDEX
#main { background-color: $background-clr; }

#portfolio-title { color: #688AFC; }

#add-stock { margin-bottom: 20px; }
