@import 'variables';

#stock-show {
  background-color: $stock-bx-clr;
  padding-top: 25px;

  a.glyphicon {
    color: $mkt-price;
    text-decoration: none;
    font-size: 32px;

    &:hover { color: $r-clr; }
  }

  article {
    span.mkt-price {
      margin-right: 5px;
      color: $mkt-price;
    }

    .market-header a {
      color: $stock-comp-clr;
      text-decoration: none;
    }

    #stock-data {
      table {
        tr {
          td {
            border: none;
            padding: 2px;
            font-size: 13px;
          }

          td.text-muted + td {
            color: $w-clr;
          }
        }
      }
    }

    #company-info {
      p {

      }
    }
  }
}

// MEDIA Qs
@media (max-width: 436px) {
  #chart-1 { height: 200px; }
}

@media (min-width: 1200px) {
  #market-value { max-width: 300px; }
}