// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables
$stock-bx-clr: #1F2123;
$stock-comp-clr: #00AEEF;
$mkt-price: #688AFC;
$w-clr: white;
$r-clr: red;


article.market-data {
  max-width: 370px;
  margin: 2px;
  background-color: $stock-bx-clr;

  section.market-header {

    .del-stock {
      float: right;
      text-decoration: none;
      color: $w-clr;

      &:hover { color: $r-clr; }
    }

    div h4 {

      margin-top: 0;

      a {
        text-decoration: none;
        color: $stock-comp-clr;

        &:hover { color: $r-clr; }
      }
    }
  }

  table {
    tr {
      td {
        border: none;
        padding: 2px;
        font-size: 13px;
      }

      td.text-muted + td {
        color: $w-clr;
      }
    }
  }

  .mkt-price {
    margin-right: 5px;
    color: $mkt-price;
  }
}


// MEDIA Qs
@media screen and (min-width: 1440px) {
  article.market-data {
    max-width: 400px;
    margin: 3px;
  }
}

@media screen and (max-width: 415px) {
  article.market-data {
    margin-bottom: 15px;
  }
}