<footer class="container-fluid text-center">

  <div id="foot-logo" class="col-xs-6 col-xs-offset-3">
    <img src="/assets/logo.png" alt="logo">
  </div>

  <div class="col-xs-12">

    <p id="foot-info">THIS IS A DEMO <br/>
      APP CREATED BY <a href="http://pratikmshah.github.io/">PRATIK SHAH</a>
    </p>

    <ul id="social" class="list-unstyled list-inline">
      <li>
        <a href="https://github.com/pratikmshah"><img src="/assets/github.png" alt="github" title="github"></a>
      </li>
      <li>
        <a href="https://twitter.com/pratikshah"><img src="/assets/twitter.png" alt="twitter" title="twitter"></a>
      </li>
      <li>
        <a href="https://linkedin.com/in/pratikmshah"><img src="/assets/linkedin.png" alt="linkedin" title="linkedin"></a>
      </li>
      <li>
        <a href="mailto:pratik.t.shah@gmail.com"><img src="/assets/email.png" alt="email" title="mail"></a>
      </li>
    </ul>

  </div>

</footer>